/*
CSS composed by Souvik Das <souvik1982@gmail.com> with edits from Raghav Sarangi <rs977@cornell.edu>
July 29, 2023
*/

body
{
  font-family: Optima, sans-serif;
  margin-right: 50px;
  margin-left: 50px;
}

p
{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.login
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
  background-color: linen;
  border: 1px solid black;
}

table
{
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even)
{
  background-color: #dddddd;
}

.column {
float: left;
width: 50%;
}

/* Set width length for the left, right and middle columns */
.left {
width: 55%;
}

.middle {
width: 0%;
}

.right {
width: 45%;
}

.row:after {
content: "";
display: table;
clear: both;
}